<!-- <div *ngIf="contact" class="contact-details-container"> -->
<div class="contact-details-container">
    <img class="contact-details-img" src="https://robohash.org/{{contact._id}}?set=set2" alt="">
    <h2 class="contact-details-name">{{ contact.name }}</h2>
    <p class="contact-details-phone">Phone: {{ contact.phone }}</p>
    <p class="contact-details-email">Email: {{ contact.email }}</p>
    <div class="actions flex">
        <button (click)="onBack()">
            Back:
            <img src="../../assets/img/back.png" alt="">
        </button>
        <button>
            Delete:
            <img src="../../assets/img/delete.png" alt="">
        </button>
        <button>
            Edit:
            <a routerLink="/contact/edit">Edit Contact</a>
            <img src="../../assets/img/edit.png" alt="">
        </button>
    </div>
</div>
<transfer-funds (updateTransfers)="updateTransfers()" [contact]="contact"></transfer-funds>
<transfer-list *ngIf="transfers?.length" [transfers]="transfers"></transfer-list>